<style>
    .layout {
        flex-grow: 1;
        flex-shrink: 0;
        margin: @Margin;
    }

    .content-background {
        background: white;
    }

    #content {
        margin: 34px 15% 24px 15%;
        padding: 24px;
        bottom: 48px;
    }

    .hide-overflow {
        overflow: hidden;
    }

    .box-shadow {
        box-shadow: 0 0 15px #dadada;
        -webkit-box-shadow: 0 0 15px #dadada;
    }
</style>

<Layout class="layout">
    <Content class="content-background box-shadow" id="content">
        <div class="hide-overflow">
            @ChildContent
        </div>
    </Content>
</Layout>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Margin { get; set; } = "0";
}
