<style>
    .menu {
        padding: 5px 15% 0 15%;
    }

    #title {
        font-size: 20px;
    }
</style>

<Menu Mode="MenuMode.Horizontal"
      DefaultOpenKeys=@(new [] {"main"})
      DefaultSelectedKeys=@(new [] {"main"})
      class="menu">

    <MenuItem Key="main">
        <NavLink href="">
            <h1 id="title">Titel</h1>
        </NavLink>
    </MenuItem>

    <MenuItem Key="settings">
        <NavLink href="settings">
            <Icon Type="setting" Theme="outline" />
            Einstellungen
        </NavLink>
    </MenuItem>

    <MenuItem Key="manual">
        <NavLink href="manual">
            <Icon Type="question-circle" Theme="outline" />
            Anleitung
        </NavLink>
    </MenuItem>
</Menu>
